@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: dark;
	background-color: black;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

button {
	border: 1px solid transparent;
	cursor: pointer;
	transition: border-color 0.25s;
}
button:hover {
	border-color: orange;
}
.search-results {
	position: absolute;
	z-index: 1000;
}
.car-button {
	border: none;
}

.custom-select-val {
	background-image: none !important;
}
